
.DS_Store

*checkpoint.ipnb

.ipynb_checkpoints/Better Figure-checkpoint.ipynb

.ipynb_checkpoints/Extinction-checkpoint.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb

.ipynb_checkpoints/Untitled-Copy1-checkpoint.ipynb

.ipynb_checkpoints/Untitled-Copy2-checkpoint.ipynb
